@import "tailwindcss";

:root {
  --topbar-bg: #0d9488;
  --primary-color: #0d9488;
  --primary_hover-color: #0f766e;
  --secondary-color: #374151;
}

/* green without hover */
.topbar {
  background-color: var(--topbar-bg);
}

/* background green hover green dark */
.primary-bgcolor {
  background-color: var(--primary-color);
}

.primary-bgcolor:hover {
  background-color: var(--primary_hover-color);
}

/* text gray hover green */
.secondary-textcolor {
  color: var(--secondary-color);
}

.secondary-textcolor:hover {
  color: var(--primary_hover-color);
}
